name: "Test"

on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

# Avoid running the same workflow on the same branch concurrently
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:

  Test:
    runs-on: ubuntu-latest

    steps:

      # Checkout the repository with permission to push
      - name: Checkout
        uses: actions/checkout@v4

      # Run Diffblue Cover
      - name: Diffblue Cover
        uses: ./ # the latest version from the current repository
        env:
          JVM_ARGS: -Xmx4096m
          GITHUB_PR_NUMBER: ${{ github.event.number }}
        with:
          # The access token used to push commits and call GitHub APIs.
          #
          # Must have access to the project with at least Write role, and scopes
          # including code, commit-statuses, pull-requests, workflows and actions.
          access-token: ${{ secrets.DIFFBLUE_ACCESS_TOKEN }}

          # License key used to activate the installation
          license-key: ${{ secrets.DIFFBLUE_LICENSE_KEY }}

          # Integration test project lives in a subdir
          working-directory: ./test

      # Collect Diffblue Cover log files
      - name: Diffblue Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: logs
          path: |
            **/.diffblue/**
